body {
	color: var(--primary-color);
	font-family: var(--primary-font-family);
	justify-content: space-between;
	min-height: var(--body-min-height);
}

.navigation__link {
	cursor: pointer;
	display: block;
	font-family: var(--secondary-font-family);
	font-size: var(--navigation-link-font-size);
	font-weight: var(--secondary-font-weight);
	text-transform: uppercase;
}

.header {
	background-image: url('../images/header.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: var(--header-min-height);
}

.header-navigation {
	background-color: rgba(var(--primary-background-color), 0.6);
}

.header-navigation__link {
	border-bottom: 5px solid var(--transparent-color);
	padding: 15px 20px;
	transition-duration: var(--transition-duration);
	transition-property: border-bottom-color;
	transition-timing-function: ease-in-out;
}

.header-content {
	background-color: rgba(var(--primary-background-color), 0.5);
}

.header-content__title {
	font-family: var(--secondary-font-family);
	font-size: var(--header-title-font-size);
	font-weight: var(--primary-font-weight);
	text-transform: uppercase;
}

.header-content__text {
	font-size: var(--text-font-size);
	margin-top: 10px;
}

.footer {
	background-color: rgb(var(--primary-background-color));
	padding-bottom: 20px;
	padding-top: 20px;
}

.footer-navigation__link {
	padding: 5px 10px;
}

.credits {
	padding-top: 30px;
}

.credits__link {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

@media (min-width: 500px) {
	.navigation__menu {
		flex-direction: row;
		justify-content: space-between;
	}

	.header-navigation__link--current {
		border-bottom-color: var(--navigation-link-current-border-color);
	}

	.header-navigation__link:hover {
		border-bottom-color: var(--navigation-link-hover-border-color);
	}

	.footer-navigation__submenu {
		display: block;
	}
}
