:root {
    /* reset.css */
    --default-font-size: 1rem;
    --default-font-weight: 400;

    /* utils.css */
    --container-max-width: 1200px;

    /* Background Colors */
    --primary-background-color: 32, 29, 29; /* #201d1d */
    --secondary-background-color: 127, 156, 110; /* #7f9c6e */

    /* Border Colors */
    --navigation-link-current-border-color: #7f9c6e;
    --navigation-link-hover-border-color: #d9d4d4;

    /* Colors */
    --primary-color: #ffffff;
    --secondary-color: #201d1d;
    --transparent-color: rgba(0, 0, 0, 0);

    /* Font Families */
    --primary-font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Oswald', sans-serif;

    /* Font Sizes */
    --navigation-link-font-size: 1.2rem;
    --header-title-font-size: 2.5rem;
    --main-header-title-font-size: 3rem;
    --section-title-font-size: 2rem;
    --item-title-font-size: 1.8rem;
    --text-font-size: 1.1rem;

    /* Font Weights */
    --primary-font-weight: 700;
    --secondary-font-weight: 600;

    /* Sizes */
    --header-min-height: 50vh;
    --main-header-min-height: 100vh;

    /* Transitions */
    --transition-duration: 1s;
}

@media (max-width: 300px) {
    :root {
        /* Font Sizes */
        --navigation-link-font-size: 1.1rem;
        --header-title-font-size: 1.8rem;
        --main-header-title-font-size: 1.8rem;
        --section-title-font-size: 1.6rem;
        --item-title-font-size: 1.4rem;
    }
}
