.portfolio-header {
    min-height: var(--portfolio-header-min-height);
}

.portfolio-header .header-content__title {
    margin-bottom: 40px;
}

.portfolio-header .header-content__text {
    margin-bottom: 40px;
}

.links__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
}

.link {
    background-color: rgb(var(--secondary-background-color));
    border: 2px solid rgb(var(--secondary-background-color));
    border-radius: 10px;
    cursor: pointer;
    display: block;
    font-family: var(--secondary-font-family);
    font-size: var(--navigation-link-font-size);
    font-weight: var(--secondary-font-weight);
    margin-bottom: 30px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition-duration: var(--transition-duration);
    transition-property: border-color;
    transition-timing-function: ease-in-out;
}

.link:hover {
    border-color: rgb(var(--navigation-link-hover-border-color));
}

@media (min-width: 500px) {
    .links__block {
        flex-direction: row;
        width: 480px;
    }

    .link {
        border-radius: 15px;
        flex: 1;
        margin-bottom: 0;
        max-width: 195px;
        padding: 15px 20px;
    }
}
